.julio-article {
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.julio-article__gif {
  width: 500px;
  height: auto;
}

.google-login {
  width: 100vw;
  background-color: yellow;
  color: red;
}
